<div id="overlay" class="overlay"></div>

<dialog open class="upload-file-container">
  <h2 class="form-header">Upload New File</h2>
  <form
    class="input-forms"
    method="POST"
    action="<%= locals.folder ? `/folders/${folder.id}/files/new` : '/files/new'%>"
    enctype="multipart/form-data"
  >
    <input type="file" name="file" />
    <% const fileError = errors?.find(e => e.path === 'file'); %> <% if
    (fileError) { %>
    <p class="error-msg"><%= fileError.msg %></p>
    <% } %>

    <div class="button-wrapper">
      <button type="submit" class="submit-button">Upload</button>

      <% if (locals.folder) { %>
      <a href="/folders/<%= folder.id %>" class="button submit-button">
        Cancel
      </a>
      <% } else {%>
      <a href="/" class="button submit-button"> Cancel </a>
      <% } %>
    </div>
  </form>
</dialog>
