<div class="form-container">
  <h1 class="form-header">Upload New File</h1>
  <form
    class="input-forms"
    method="POST"
    action="/files/new"
    enctype="multipart/form-data"
  >
    <input type="file" name="file" required />
    <button class="submit-button" type="submit" value="Submit">Upload</button>
  </form>
</div>
