<div id="overlay" class="overlay"></div>

<dialog open class="upload-file-container">
  <h2 class="form-header">Delete Folder</h2>
  <form
    class="input-forms"
    method="POST"
    action="/folders/<%= folder.id %>/delete"
  >
    <p>Are you sure you want to delete: <%= folder.name %></p>
    <div class="button-wrapper">
      <button type="submit" class="submit-button">Delete</button>
      <a href="/" class="button submit-button"> Cancel </a>
    </div>
  </form>
</dialog>
